<SelectMultipleUsers Users="@Users" Functions="@Functions" Selection="@_selectedUsers" SelectionChanged="OnSelectionChanged" MultiSelection="true"/>

<MudPaper Elevation="0" Class="flex align-content-start flex-wrap flex-grow-1 gap-4 mx-2 my-4">
    <div class="flex-1">
        <StatisticsActionsAll @ref="_statisticsActionsAll" SelectedUsers="_selectedUsers"/>
    </div>
    <div class="flex-1">
        <StatisticsTrainingsAll @ref="_statisticsTrainingsAll" SelectedUsers="_selectedUsers"/>
    </div>
</MudPaper>