::deep .mud-table-cell-custom-group {
    font-weight: 500;
}

::deep .mud-table-cell-custom-group-footer {
    padding-bottom: 50px;
    text-align: right;
}

::deep .DrogeCode-sticky-column {
    position: sticky;
    left: 3px;
    background-color: var(--mud-palette-background-grey);
}