<MudDialog>
    <DialogContent>
        <p>Hier komt de mogelijkheid om deelnemers in te vullen voor de betreffende oefening.</p>
        <p>Maar, zoals je ziet is dat nog niet af.</p>
        <p>Of eigenlijk, ik ben er nog niet aan begonnen :O</p>
    </DialogContent>
    <DialogActions>
        @*<MudButton OnClick="Cancel">Cancel</MudButton>*@
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
}

