@page "/planner/calendar"
<h3>Calendar</h3>

<p>@L["The calendar will be implemented soon!"]</p>

@code {
    [Inject] private IStringLocalizer<Calendar> L { get; set; } = default!;
    [Parameter] public Guid CustomerId { get; set; } = Guid.Empty;
}
