@page "/planner/user"
@attribute [Authorize(Roles = AccessesNames.AUTH_users_details)]
<PageTitle>@L["Users"]</PageTitle>

@if (_users != null && _functions != null)
{
    <MudText Typo="Typo.h3">@L["Click user to view"]</MudText>
    <MudList T="string" ReadOnly="true">
        @foreach (var function in _functions.OrderBy(x => x.Order))
        {
            @if (_users.Any(x => x.UserFunctionId == function.Id))
            {
                <MudText>@function.Name</MudText>
                @foreach (var user in _users.Where(x => x.UserFunctionId == function.Id).OrderBy(x => x.Name))
                {
                    <MudListItem T="string" OnClick="()=>ClickUser(user)">
                        <div class="flex gap-x-4">
                            <div>@user.Name</div>
                        </div>
                    </MudListItem>
                }
            }
        }
    </MudList>
}
else
{
    <DrogeLoading/>
}