@page "/planner/user"
@page "/planner/user/{Id:guid}"
@using Drogecode.Knrm.Oefenrooster.Client.Pages.Components
@attribute [Authorize]

@if (Id is null)
{
    @if (_users != null && _functions != null)
    {
        <MudPaper Width="700px">
            <MudList Clickable="false">
                @foreach (var function in _functions.OrderBy(x => x.Order))
                {
                    @if (_users.Any(x => x.UserFunctionId == function.Id))
                    {
                        <MudText>@function.Name</MudText>
                        @foreach (var user in _users.Where(x => x.UserFunctionId == function.Id).OrderBy(x => x.Name))
                        {
                            <MudListItem OnClick="()=>ClickUser(user)">
                                <div class="flex space-x-4">
                                    <div>@user.Name</div>
                                </div>
                            </MudListItem>
                        }
                    }
                }
            </MudList>
        </MudPaper>
    }
}
else
{
    @if (_trainings != null)
    {
        <MudText Typo="Typo.h3">@L["Trainings for {0}", _user?.Name ?? "No name"]</MudText>
        <MudPaper Elevation="0" Class="d-flex align-content-start flex-wrap flex-grow-1 gap-4 mx-2 my-4">
            @foreach (var training in _trainings)
            {
                <IndexCard User="_user" Training="training" Functions="_functions" Users="_users" TrainingTypes="_trainingTypes" Vehicles="_vehicles" />
            }
        </MudPaper>
    }
    else
    {
        <MudSkeleton />
        <MudSkeleton />
        <MudSkeleton />
        <MudSkeleton />
    }
}