@page "/configuration/global"
@attribute [Authorize]
@using Drogecode.Knrm.Oefenrooster.Client.Pages.Configuration.Components;
@using Drogecode.Knrm.Oefenrooster.Client.Repositories;
@using System.Security.Claims;
@using System.Text;
<h3>Global configuration</h3>

<MudText>Alleen Taco mag op deze knop klikken</MudText>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateDatabase">@L["Update database"]</MudButton>
@if (_clickedUpdate == true)
{
    <MudText Typo="Typo.body1">Database updated!</MudText>
}
else if (_clickedUpdate == false)
{
    <MudText Typo="Typo.body1">Something went wrong, while updating database :')</MudText>
}

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddUser">Voeg test user toe</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SyncUsers">Sync users</MudButton>
@if (_usersSynced == true)
{
    <MudText Typo="Typo.body1">users synced</MudText>
}
else if (_usersSynced == false)
{
    <MudText Typo="Typo.body1">Something went wrong while syncing users :')</MudText>
}
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateSpecialDates">Update special dates </MudButton>
@if (_specialDatesUpdated == true)
{
    <MudText Typo="Typo.body1">special dates bijgewerkt</MudText>
}
else if (_specialDatesUpdated == false)
{
    <MudText Typo="Typo.body1">Something went wrong while updating special dates :')</MudText>
}

@if (_users != null && _functions != null)
{
    <MudPaper Width="700px">
        <MudList Clickable="false">
            @foreach (var function in _functions.OrderBy(x => x.Order))
            {
                @if (_users.Any(x => x.UserFunctionId == function.Id))
                {
                    <MudText>@function.Name</MudText>
                    @foreach (var user in _users.Where(x => x.UserFunctionId == function.Id).OrderBy(x => x.Name))
                    {
                        <MudListItem OnClick="()=>ChangeUser(user)">
                            <div class="flex space-x-4">
                                <div>@user.Name</div>
                                <DateToString ShowDate="true" ShowTime="true" DateTimeUtc="user.LastLogin" />
                            </div>
                        </MudListItem>
                    }
                }
            }
        </MudList>
    </MudPaper>
}
