@page "/configuration/user-roles"
@attribute [Authorize(Roles = AccessesNames.AUTH_configure_user_roles)]
<h3>UserRoles</h3>
@if (_userRoles?.Roles is not null && _userRoles.Roles.Any())
{
    <MudList T="string">
        @foreach (var role in _userRoles.Roles)
        {
            <MudListItem T="string" OnClick="() => ClickUserRole(role)">
                @role.Name
            </MudListItem>
        }
    </MudList>
}
else if (_userRoles is null)
{
    <MudSkeleton />
    <MudSkeleton />
    <MudSkeleton />
    <MudSkeleton />
}