@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IStringLocalizer<CultureSelector> L

<p>
    <label>
        @L["Select your locale"]
        <MudSelect T="CultureInfo" @bind-Value="Culture">
            @foreach (var culture in supportedCultures)
            {
                <MudSelectItem T="CultureInfo" value="@culture">@culture.DisplayName</MudSelectItem>
            }
        </MudSelect>
    </label>
</p>

@code
{
    private CultureInfo[] supportedCultures = new[]
    {
        new CultureInfo("nl-NL"),
        new CultureInfo("en-US"),
    };

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (Equals(CultureInfo.CurrentCulture, value)) return;
            var js = (IJSInProcessRuntime)JS;
            js.InvokeVoid("blazorCulture.set", value.Name);

            Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
        }
    }
}