@if (DateTimeNotNull.CompareTo(DateTime.MinValue) == 0 || DateTimeNotNull.Year <= 5)
{
	<p>-</p>
}
else
{
	<div class="flex space-x-2">
		<div>@DatePrefix</div>
		@if (!string.IsNullOrEmpty(DateStringFormat))
		{
			<div>@DateTimeNotNull.ToString(@DateStringFormat, CultureInfo.CurrentUICulture)</div>
		}
	</div>
}